# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
*.o
*.a

*.swp
# Test binary, build with `go test -c`
*.test
